<html>
<head>
 <title>www.web-01.example.com</title>
</head>
<body>
 <h2>www.web-01.example.com</h2>
 <p>This is a test page managed by ansible:</p>
 <ul>
         <li>CentOS Linux 8</li>
         <li>Nginx web server</li>
 </ul>
 <hr>
 <small>Send all feedback and errors to me @ webmaster@example.com</small>
</body>
</html>
